@layer base {
  * { @apply border-ink-200; }
  body { @apply bg-white text-ink-900 antialiased; }
  h1 { @apply text-4xl font-bold font-display tracking-tight; }
  h2 { @apply text-3xl font-semibold font-display tracking-tight; }
  h3 { @apply text-2xl font-semibold font-display; }

  .container-app {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
