@import "./styles/global.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item {
    width: 100%;
    text-align: left;
    padding: 10px 16px;
    font-size: 14px;
  }
  
  .menu-item:hover {
    background: #f1f5f9;
  }
  
